.button {
  border: 0;
  outline: none;
  background: var(--ps--color-action);
  padding: 15px 25px;
  border-radius: 25px;
  color: var(--ps-background-primary);
  font-size: 18px;
  transition: background-color 0.3s;
  cursor: pointer;

  &:hover {
    background: lighten(#E52F68, 10%);
  }
}