@import "styles/mixins";

.work__image {
  max-width: 500px;
  height: 518px;
  position: relative;

  @include md {
    height: 400px;
  }

  &[data-is-number-odd="true"] {
    margin-right: auto;
  }

  &[data-is-number-odd="false"] {
    margin-left: auto;

    @include sm {
      margin-left: unset;
    }
  }
}

.work__text {
  position: relative;
  white-space: pre-wrap;
  padding-left: 50px;

  &:before {
    content: "";
    width: 5px;
    height: 100px;
    position: absolute;
    background: var(--ps--color-action);
    left: 20px;
  }

  &[data-is-number-odd="true"] {
    padding-left: 0;
    padding-right: 50px;

    @include sm {
      padding-left: 50px;
      padding-right: 0;
    }

    &:before {
      left: unset;
      right: 20px;

      @include sm {
        left: 20px;
        right: unset;
      }
    }

    h3, span {
      text-align: right !important;
      width: 100%;

      @include sm {
        text-align: left !important;
      }
    }
  }
}

.work__animation {
  width: 500px;
  height: 500px;
  margin: auto;
  position: relative;

  @include md {
    width: 100%;
  }
}

.work__animation__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}